@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    /* COLORS */
    --clr-strong-cyan: hsl(171, 66%, 44%);
    --clr-light-blue: hsl(233, 100%, 69%);

    --clr-dark-grayish-blue: hsl(210, 10%, 33%);
    --clr-grayish-blue: hsl(201, 11%, 66%);

    /* BODY COPY */
    --fs-body: 1.125rem;    /*=18px*/
}

/* general: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Bai Jamjuree', sans-serif;
}

.btn {
    padding: 15px 32px;
    color: white;
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 100vh;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 7px 6px 20px 1px rgba(0, 0, 0, 0.24);
    transition: 0.3s all;
    transform: scale(0.98);
}
.ios-btn {
    background-color: var(--clr-strong-cyan);
    box-shadow: 0px 3px 0px 0px hsl(171, 67%, 33%);
}
.mac-btn {
    background-color: var(--clr-light-blue);
    box-shadow: 0px 3px 0px 0px hsl(233, 52%, 54%);
}


/* HEADER: */
header {
    text-align: center;
}
.header-content {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
header img {
    margin: 0 auto;
    height: 115px;
    width: 115px;
}
.header-title {
    color: var(--clr-dark-grayish-blue);
    font-size: 2.48rem;
    margin: 50px 0 16px 0;
}
header p {
    margin: 0 auto;
    color: var(--clr-grayish-blue);
    font-size: var(--fs-body);
    max-width: 65%;
    line-height: 1.6rem;
}
.header-buttons {
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    display: inline-flex;
    gap: 20px;
}


/* MAIN: */
/* general elements in MAIN */
.main-title {
    text-align: center;
    color: var(--clr-dark-grayish-blue);
    font-size: 2.15rem;
}
.main-text {
    text-align: center;
    color: var(--clr-grayish-blue);
    font-size: var(--fs-body);
    line-height: 1.7rem;
    margin: 20px auto;
    max-width: 52%;
}

/* section-keep-track */
.section-keep-track {
    margin-bottom: 150px;
}
.sub-section-keep-track {
    margin-top: 80px;
    display: flex;
    gap: 105px;
}
.sub-section-keep-track img {
    margin-left: -60px;
}
.keep-track-list {
    list-style-type: none;
    padding-top: 68px;
} 
.keep-track-list li {
    max-width: 65%;
    margin-bottom: 55px;
}
.subtitle {
    color: var(--clr-dark-grayish-blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.sub-section-text {
    color: var(--clr-grayish-blue);
    line-height: 1.8rem;
}

/* section-access */
.section-access .img-container {
    margin: 90px auto;
}
.section-access .img-container img {
    display: grid;
    margin: 0 auto;
}

/* section-supercharge */
.sub-section-supercharge {
    display: flex;
    gap: 50px;
    margin: 0 80px;
    justify-content: center;
}
.block {
    text-align: center;
    max-width: 30%;
    margin: 50px 0 170px 0;
}
.block img {
    height: 40px;
}
.block-subtitle {
    font-size: 1.5rem;
    color: var(--clr-dark-grayish-blue);
    margin: 45px 0 18px 0;
}
.block-text {
    font-size: 1rem;
    color: var(--clr-grayish-blue);
    line-height: 1.5rem;
}
.gallery-list {
    list-style-type: none;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

/* section-clipboard */
.section-clipboard {
    margin-top: 150px;
    margin-bottom: 150px;
}
.clipboard-buttons {
    display: flex;
    gap: 20px;
    margin: 45px auto;
    justify-content: center;
}

/* footer */
footer {
    display: flex;
    background-color: hsla(233, 100%, 69%, 0.1);
    padding: 50px;
    justify-content: space-around;
}
.logo-footer {
    height: 50px;
    width: 50px;
}
.logo-footer:hover {
    cursor: pointer;
}
.row {
    display: flex;
    gap: 80px;
}
.col p {
    color: var(--clr-dark-grayish-blue);
    margin: 0 30px 18px 0;
}
.col p:hover {
    cursor: pointer;
    color: var(--clr-strong-cyan);
}
.social-media-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.social-media-icon {
    margin-top: 30px;
    height: 24px;
    width: 24px;
    fill: var(--clr-dark-grayish-blue);
}
.social-media-icon:hover{
    cursor: pointer;
    fill: var(--clr-strong-cyan);
}


/************* 
    MOBILE - RESPONSIVE
                ************/
@media (max-width: 980px) {
    body {
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .btn {
        font-size: 1.1rem;
    }

    /* header: */
    .header-content {
        margin: 100px 30px;
    }
    .header-title {
        font-size: 1.9rem;
    }
    header p {
        font-size: 1.02rem;
        max-width: 100%;
    }
    .header-buttons {
        display: flex;
        flex-direction: column;
        margin: 0 0;
        padding: 40px 0;
        gap: 30px;
    }

    /* MAIN */
    /* general elements in main: */
    main {
        margin: auto 26px;
    }
    .main-title {
        font-size: 1.8rem;
    }
    .main-text {
        font-size: 1rem;
        max-width: 95%;
    }

    /* section-keep-track */
    .sub-section-keep-track {
        flex-direction: column;
        gap: 60px;
    }
    .sub-section-keep-track img{
        margin-left: 0;
    }
    .keep-track-list {
        margin: 0 10px;
        padding-top: 0px;
        text-align: center;
    }
    .keep-track-list li {
        max-width: 100%;
    }

    /* section-access */
    .section-access .img-container {
        margin: 50px auto 90px auto;
    }
    .section-access .img-container img{
        max-width: 325px;
        height: auto;
    }

    /* section-supercharge */
    .sub-section-supercharge {
        flex-direction: column;
        margin: 0 auto;
    }
    .block {
        max-width: 100%;
        margin: 60px 0 0 0;
    }
    .block-plain, .block-sneak {
        margin: 0 0 0 0;
    }
    .block img {
        height: auto;
    }
    .block-subtitle {
        font-size: 1.45rem;
    }
    .gallery-list {
        flex-direction: column;
        margin-top: 120px;
        gap: 60px;
    }
    .gallery-list li {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .gallery-list img {
        width: 85%;
        height: auto;
    }

    /* section-clipboard */
    .clipboard-buttons {
        flex-direction: column;
    }

    /* footer: */
    footer {
        padding: 50px auto 35px auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-footer {
        margin-bottom: 10px;
    }
    .row {
        display: block;
        text-align: center;
    }
    .col p {
        margin: 30px 0  0;
        font-size: 1.15rem;
    }
    .social-media-list {
        margin-top: 30px;
    }

}
